{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="gallery-page">
            <!-- <img class="flash-img" src="{{ base_url }}/image/leaf_256x256.png"> -->
            <!---
            <a href="http://localhost:8080/dbwebb/design/me/portfolio/image/webdesignkmom05.jpg?"><div class="gallery-box">
                <div class="klass1">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass2">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-elina-araja-3334452.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass3">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-engin-akyurt-1487821.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass4">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-ir-solyanaya-634548.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass5">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-life-of-pix-8892.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass6">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-matt-hardy-3560139.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass7">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-nate-1036657.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass8">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-pixabay-268715.jpg?h=150&w=150&crop-to-fit">
                </div>
                <div class="klass9">
                    <img class="flash-img" src="{{ base_url }}/image/pexels-scott-webb-593158.jpg?h=150&w=150&crop-to-fit">
                </div>
                </a>-->
                <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/q-0yTGVRPvk" frameborder="0" allowfullscreen title="myFrame"></iframe>
                </div>
                <a href="http://www.student.bth.se/~alnb15/dbwebb-kurser/design/me/portfolio/image/webdesignkmom05.jpg?" title="kmom05"><div class="gallery-box">
                <div class="klass1">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass2">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-elina-araja-3334452.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass3">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-engin-akyurt-1487821.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass4">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-ir-solyanaya-634548.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass5">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-life-of-pix-8892.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass6">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-matt-hardy-3560139.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass7">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-nate-1036657.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass8">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-pixabay-268715.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                <div class="klass9">
                    <picture>
                        <source media="(min-width: 705px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=150&w=150" alt="Bild">
                        <source media="(min-width: 376px=)" srcset="{{ base_url }}/image/pexels-anthony-macajone-1784758.jpg?h=100&w=100" alt="Bild">
                        <img class="flash-img" src="{{ base_url }}/image/pexels-scott-webb-593158.jpg?h=150&w=150&crop-to-fit" alt="Bild">
                    </picture>
                </div>
                </a>

            {{ content}}
        </div>
    </div>
</body>

{% include 'incl/footer.twig' %}